.dungeon_map {
    _background-color: yellow;
}
.dng_row {
    _width: 100px;
    height: 32px;
    border-bottom: 1px solid black;
    float: none;
}

.dng_row:first-child {
    border-top: 1px solid black;
}

.dng_cell {
    float: left;
    width: 32px;
    height: 32px;
    border-right: 1px solid black;
    font-size: 8px;
}

.cell_rock {
    background-image: url("rock.png");
}

.cell_floor {
    background-image: url("floor.png");
    background-color: yellow;
}

.cell_wall {
    background-image: url("wall.png");
    background-color: brown;
}

.dng_cell:first-child {
    border-left: 1px solid black;
}